header{
    display: flex;
    justify-content: space-between;


}
.logo{
    display: flex;
    padding: 10px;
}
.social-icons{
    /*margin-left: 1000px;*/
    
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.social-icons img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.contact{
    color: gray;
}
span{
    border-bottom: 1px solid green;
    line-height: 30px;
    color:
}
.about{
    color: gray;
}
body{
    background-color: black;
    color: white;
}
.up{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
}
.skills p{
    color: gray;
}
.project{
    display: flex;
    justify-content: space-between;
}
.project h1{
    font-size: 45px;
    
}
.patch img{
    
}
.photo{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20pxx;
}
.patch{
    padding: 20px;
}
.patch img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.patch h3{
    font-size: 10px;
    margin-bottom: 5px;
}
.patch p{
    font-size: 14px;
    color: gray;
}
.contact-form{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
input, textarea{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #333;
    color: #ffff;
    margin-bottom: 20px;
    padding: 10px 0;
}
textarea{
    height: 100px;
    resize: vertical;
}
button{
    align-self: flex-end;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #4CAF50;
    padding: 10px 0;
    cursor: pointer;
}
.phone{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.pag{
    color: gray;
    
}
#call{
    margin: 30px;
}
.down{
    background-color: #242424;
    border: none;
    padding: 0px 100px;
}
a{
    color: white;
    text-decoration: none;
}
.main{
   padding: 0px 100px;
}
.intro img{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
}